.xmenu-item-root { border: 1px solid #eee; margin: 1px 0; min-height: 3em; }
.xmenu-expand { border-left: 1px solid #eee; cursor: pointer; float: right; height: 3em; line-height: 3em; }
.xmenu-item-children { background: #eee; display: none; padding: 5px; position: absolute; width: 450px; z-index: 10; }
.xmenu-item-children-left, .xmenu-item-children-right { float: left; margin-top: 1em; width: 50%; }
.xmenu-item-children-close { cursor: pointer; float: right; }
.xmenu-child-item { font-size: 0.8em; padding: 5px 0; }